
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Tests table table-layout:fixed;
 */

/* Time stamp */
.testtbl tbody tr td:first-child {text-align: left; color: gray ;}
.testtbl tbody td {text-align: left; }
/* Header */
.testtbl > thead th {text-align: left}
.testtbl {padding:0;  border-spacing: 0px;border:1px solid #E0E0E0;width:100%}
.testtbl tr td:first-child,.testtbl tr th:first-child {width:100px;}

/******
* Test Statuses
*/
.fail  { color: red; }
.warning  { color: yellow; }

